
		body {
			background-color: #000;
			font-family: Jost;
			text-align: center;
            color: #ffffff;
            
		}

		form {
			background-color: #000;
            box-shadow: 0 0 6px #ffff;
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
		}

		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		.form-control input {
			border: 1px solid #ffffff;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		.end {
			display:  flex;
		 }

.end input {
	border: 1px solid #ffffff;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			width: 95%;
}
	